<ion-header>

  <ion-navbar>
    <ion-title>Login to continue</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="normalLoginForm" (ngSubmit)="normalLogin()">
    <ion-list>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <h6 class="input-error" *ngIf="f.email.invalid && f.email.touched">Enter a valid email</h6>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <h6 class="input-error" *ngIf="f.password.invalid && f.password.touched">Please enter password</h6>
    </ion-list>
    <button ion-button full >Login</button>
    <h6 class="input-error" *ngIf="error">Wrong Credentials</h6>
  </form>
  <button ion-button block color="danger" (click)='googleLogin()'>Login with Google</button>
  <button ion-button block (click)='fbLogin()'>Login with Facebook</button>
  <div>{{ errorMsg }}</div>
</ion-content>
