<ion-header>
  <ion-navbar>
    <ion-title>Facebook Login Success</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row align-items-center>
      <ion-col col-4>
        <img src="{{ user.picture }}">
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col col-8>
        <h6>Hey, {{ user.first_name }}</h6>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col col-8>
        <h6>Access Token: {{ user.auth.accessToken }}</h6>
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col col-4>
        <button ion-button full color="secondary" (click)="continue()">Continue</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>